<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediction</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Enter Data for Prediction</h1>
      <form action="{{ url_for('predict_result') }}" method="post">
        <div class="form-group">
          <label for="inputData">Data Input:</label>
          <input
            type="text"
            class="form-control"
            id="inputData"
            name="text"
            placeholder="Enter your data here"
          />
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>
      {% if results %}
      <h2>The Prediction is: {{ results }}</h2>
      {% endif %}
    </div>
  </body>
</html>
